<div class="home_banner">
    <img src="assets/images/home_banner.jpg" class="img-fluid" alt="">
</div>
<section class="about py-5">
    <div class="container pb-5 mt-5">
        <h3 class="text-center about_text">HP PAY is a powerful Loyalty and Payment program that provides complete fuel 
            management solution to its owners and operators in the form of an unbeatable 
            combination of control, convenience, security and attractive reward points.</h3>
            <div class="text-center mt-4 pt-4 mb-5">
                <a href="#" class="signUp_btn text-uppercase">Sign Up</a>
            </div>
    </div>
</section>

<section class="benefits py-5">
    <div class="container pt-5 pb-5">
        <h1 class="benefit_heading text-center text-uppercase">Benefits for you</h1>
        <div class="d-flex align-items-stretch justify-content-between flex-wrap mt-5 mb-5">
            <div class="col-md-6 col-12 col-lg-4 mb-5 px-3">
                <div class="banefit_block p-4 d-flex align-items-center justify-content-center flex-column">
                    <div class="benefit_icon mb-4">
                        <img src="assets/images/reward_icon.png" class="img-fluid" alt="">
                    </div>
                    <p class="font-weight-bolder text-center">Instant Rewards for your fuel spends in the form of Payback points.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 mb-5 px-3">
                <div class="banefit_block p-4 d-flex align-items-center justify-content-center flex-column">
                    <div class="benefit_icon mb-4">
                        <img src="assets/images/family_insurance_icon.png" class="img-fluid" alt="">
                    </div>
                    <p class="font-weight-bolder text-center">Accidental Death Insurance of 1,00,000/-</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 mb-5 px-3">
                <div class="banefit_block p-4 d-flex align-items-center justify-content-center flex-column">
                    <div class="benefit_icon mb-4">
                        <img src="assets/images/mobile_pay_icon.png" class="img-fluid" alt="">
                    </div>
                    <p class="font-weight-bolder text-center">HP PAY gives you easier,faster and total control of your fueling and LPG experience through                        your mobile.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 mb-5 px-3">
                <div class="banefit_block p-4 d-flex align-items-center justify-content-center flex-column">
                    <div class="benefit_icon mb-4">
                        <img src="assets/images/cardless_transaction.png" class="img-fluid" alt="">
                    </div>
                    <p class="font-weight-bolder text-center">Cardless transactions that are OTP protected</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 mb-5 px-3">
                <div class="banefit_block p-4 d-flex align-items-center justify-content-center flex-column">
                    <div class="benefit_icon mb-4">
                        <img src="assets/images/secured_icon.png" class="img-fluid" alt="">
                    </div>
                    <p class="font-weight-bolder text-center">Cashless and Secured Transactions</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 mb-5 px-3">
                <div class="banefit_block p-4 d-flex align-items-center justify-content-center flex-column">
                    <div class="benefit_icon mb-4">
                        <img src="assets/images/upi_icon.png" class="img-fluid" alt="">
                    </div>
                    <p class="font-weight-bolder text-center">Unified Payments Interface (UPI) Now pay instantly from your bank account.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 mb-5 px-3">
                <div class="banefit_block p-4 d-flex align-items-center justify-content-center flex-column">
                    <div class="benefit_icon mb-4">
                        <img src="assets/images/scan_icon.png" class="img-fluid" alt="">
                    </div>
                    <p class="font-weight-bolder text-center">Scan QR code on HPCL Petrol Pumps to make hassle free cashless Payment.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 mb-5 px-3">
                <div class="banefit_block p-4 d-flex align-items-center justify-content-center flex-column">
                    <div class="benefit_icon mb-4">
                        <img src="assets/images/web_mobile_icon.png" class="img-fluid" alt="">
                    </div>
                    <p class="font-weight-bolder text-center">Web & Mobile access for account management</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 mb-5 px-3">
                <div class="banefit_block p-4 d-flex align-items-center justify-content-center flex-column">
                    <div class="benefit_icon mb-4">
                        <img src="assets/images/locations_icon.png" class="img-fluid" alt="">
                    </div>
                    <p class="font-weight-bolder text-center">Accepted at 1500+ HPCL petrol pumps</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact pb-5">
    <h2 class="text-center mb-5">Conatct Us</h2>
    <div class="contact_bg">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="col-12 col-md-6 py-5">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <div class="contact_img">
                        <img src="assets/images/enrollment_img.png" class="img-fluid" alt="">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="mb-2">Instant Enrollment</p>
                        <a href="#" class="btn_contact d-inline-block text-decoration-none">Click Here</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 contact_right p-5">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <div class="contact_img">
                        <img src="assets/images/telecaller_img.png" class="img-fluid" alt="">
                    </div>
                    <div class="mt-4">
                        <p class="text-center mb-2 text-white">24/7 Customer Care & Enquiry Toll Free no.</p>
                        <h2 class="text-center text-danger">1800-1039-811</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faqs py-5">
    <div class="container">
        <h2 class="text-center mb-5">FAQs</h2>
        <div class="">							
            <div class="question">
                <h4 >What is HP Pay?</h4>
                    <div class="arrow_faq"></div>
                        <div class="answer">
                            <p>HP Pay is mobile app that provides one stop payment solution for all your Fuel, LPG and Lubricant requirements of a customer along with exciting rewards in the form of Payback points. It’s Easy, Convenient and Quick.</p>
                        </div>
            </div>
            <div class="question">
                <h4>How I can enroll for HP Pay ?</h4>
                    <div class="arrow_faq"></div>
                        <div class="answer" >
                            <p>If you are a new customer, go to Google Play or App Store, type HP Pay and install the app in your mobile phone. Enter all the required information to Register for the Program. The Registration is Quick, Easy and Convenient.</p>
                        </div>
            </div>
            <div class="question">
                <h4>I am HP Refuel Customer, do I have to download the HP Pay App Again ?</h4>
                    <div class="arrow_faq"></div>
                        <div class="answer" >
                            <p>If you are an existing HP Refuel customer, you don’t need to register again for HP Pay. Once you access HP Refuel, it will guide you to app store/play store where you will have to use update option upon which HP Refuel will get upgraded to HP Pay. Your HP Refuel Profile and balances will be transferred to HP Pay automatically, you don’t need to register again. Also your Log in Credentials, Password and M-Pin will remain the same as that of HP Refuel and can be used for HP Pay.</p>
                        </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a routerLink="faq" routerLinkActive="router-link-active"  class="btn_contact d-inline-block text-decoration-none">View All</a>
        </div>
    </div>
</section>
