<footer class="main_footer">
	<div class="footer_wrapper d-flex align-items-center justify-content-between flex-wrap py-5">
		<div class="col-md-4">
			<div class="footer_nav">			
				<ul>
					<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Home</a></li>
					<li [routerLinkActive]="['active']"><a routerLink="programDetail">Program Details</a></li>
					<li [routerLinkActive]="['active']"><a routerLink="faq">FAQ's</a></li>
					<li [routerLinkActive]="['active']"><a routerLink="registration">Apply Now</a></li>
				</ul>
			</div>
		</div>
		
		<div class="col-md-3 py-3">
			<div class="footer_download">
				<p class="footer_text mb-2">Download HP PAY App</p>
				<div class="d-flex align-items-center justify-content-start">
					<div class="downloadApp_img">
						<img src="assets/images/android-app-link.png" alt="Google Play">
					</div>					
					<div class="downloadApp_img">
						<img src="assets/images/ios-app-link.png" alt="Play Store">
					</div>
				</div>	
			</div>
		</div>		
		<div class="col-md-3">
			<div class="d-flex justify-content-end">
				<div class="d-flex justify-content-start flex-wrap bottom_logo">	
					<div class="footer_logos d-flex align-items-center justify-content-end">
						<a href=""><img src="assets/images/logo.png" class="img-fluid" alt=""></a>				
						<img src="assets/images/happiness-hp.png" class="img-fluid" alt="">
					</div>		
					<p class="footer_text mt-5 text-right">© 2021 HPCL. All rights reserved.</p>
				</div>
			</div>
		</div>		
	</div>	
</footer>
