<div class="content_area d-flex justify-content-center p-4">    
    <section class="col-sm-7 pb-4 instant_enrollment_wrapper">
        <div class="py-1">
            <h2 class="program_heading1 text-left text-uppercase">Wallet Recharge</h2>
        </div>
        <form action="">
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-5 mt-5">
                <div class="col-sm-12">
                    <label class="form_label">Mobile Number <sup>*</sup></label>
                    <input type="tel" class="form_control" placeholder="Mobile Number">
                </div> 
            </div>
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-5">       
                <div class="col-sm-12">
                    <label class="form_label">Customer Name <sup>*</sup></label>
                    <input type="text" class="form_control" placeholder="Customer Name">
                </div>
            </div>            
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-5">       
                <div class="col-sm-12">
                    <label class="form_label">Amount <sup>*</sup></label>
                    <input type="number" class="form_control" placeholder="Amount">
                </div>
            </div>
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-3 ">
                <div class="col-sm-6 mt-3">
                    <mat-checkbox class="example-margin">I agree to <a href="#" class="text-decoration-none text-primary "> Terms & Conditions</a> and <a href="#" class="text-decoration-none text-primary"> Applicable Charges</a></mat-checkbox>
                </div>
            </div>
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-3">
                <div class="col-sm-12 mt-5">
                    <div class="d-flex align-items-center justify-content-evenly flex-wrap">
                        <div class="col-md-6 col-12 d-flex align-items-center justify-content-center">
                            <button class="submit_btn mb-4"><i class="fa fa-paper-plane"></i> <span class="ml-2">Submit</span></button>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center justify-content-center">
                            <button class="submit_btn mb-4"><i class="fa fa-undo"></i> <span class="ml-2">Reset</span></button>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </form>

    </section>
</div>