<div class="content_area">
    <div class="container-fluid w_75 py-1 bg-white">
        <h2 class="program_heading1 my-4 text-center">FAQs</h2>

        <p class="text-center">Note: All references to HPCL in this FAQ also include its group companies</p>

        <section class="col-sm-12">
            <article class="program_content">
                <h3 class="program_heading2">What is HP Pay?</h3>
                <p>HP Pay is mobile app that provides one stop payment solution for all your Fuel, LPG and Lubricant
                    requirements of a
                    customer along with exciting rewards in the form of Payback points. It’s Easy, Convenient and Quick.
                </p>
                <h3 class="program_heading2">How I can enroll for HP Pay ?</h3>
                <p>If you are a new customer, go to Google Play or App Store, type HP Pay and install the app in your
                    mobile phone. Enter
                    all the required information to Register for the Program. The Registration is Quick, Easy and
                    Convenient.</p>

                <h3 class="program_heading2">I am HP Refuel Customer, do I have to download the HP Pay App Again ?</h3>
                <p>If you are an existing HP Refuel customer, you don’t need to register again for HP Pay. Once you
                    access HP Refuel, it
                    will guide you to app store/play store where you will have to use update option upon which HP Refuel
                    will get upgraded
                    to HP Pay. Your HP Refuel Profile and balances will be transferred to HP Pay automatically, you
                    don’t need to register
                    again. Also your Log in Credentials, Password and M-Pin will remain the same as that of HP Refuel
                    and can be used for HP
                    Pay.</p>

                <h3 class="program_heading2">How I can enroll for HP Pay ?</h3>
                <p>For existing HP Refuel customers , no need to Enroll again. If you are a new customer, go to your
                    Google Play / App.
                    Store, type HP Pay and install the app in your mobile phone and enter all the required information
                    to Register / Enroll
                    for the HP Pay Program. Login information will be sent to your registered mobile number. The
                    Registration is Quick ,
                    Easy and Convenient.</p>
                <h3 class="program_heading2">Is HP Pay Available for all Mobile Handsets and Operating Systems?</h3>
                <p>HP Pay can be used on all handsets with iOS (version 9.0 & above) & Android OS (version 5.0 & above).
                </p>
                <h3 class="program_heading2">How can I add money to my wallet?</h3>
                <p>You can add money to your HP Pay Wallet by selecting the ‘Add Money’ option on your home screen.</p>
                <ul class="p_text">
                    <li>There are four ways to Add money to your wallet viz.</li>
                    <ul style="list-style: disc;" class="p_text">
                        <li>Credit card</li>
                        <li>Debit card</li>
                        <li>Net Banking</li>
                        <li>UPI
                            <br>
                            <p>Once you enter the money and check the Terms and Conditions, you can select any of the
                                above payment methods to load
                                your wallet.</p>
                        </li>
                        <li>In case you wish to use Credit or Debit card, you have an option to save the card details
                            that are entered by you so
                            that you dont need to enter card details again and again for all future transactions.</li>
                        <li>In case of Net Banking, you can select the bank from which you wish to add money.</li>
                        <li>Once you enter details on your bank’s page & complete the transaction, you will be
                            redirected to HP Pay with money added
                            in your HP Pay wallet
                            <br>
                            * Note : HPCL or their service providers will not ask for your Card Details , OTP / PIN or
                            CVV . Kindly do not entertain
                            any such calls. DO not share any of the details with any person.
                        </li>
                    </ul>

                </ul>

                <h3 class="program_heading2">My money has been debited from my bank account/credit card but it is not reflecting in Wallet, why?</h3>
                <p>Amount deducted from your bank/credit card is generally added to your HP Pay account instantly. However the entire transaction is dependent on connectivity at multiple interfaces and hence at times, the money doesn’t get added due to disruption in connectivity. In such rare scenario, if amount gets deducted from your bank account/credit card, the amount will get reversed to your account as per the timelines followed by banks. Generally, it takes about 3 to 5 working days depending on respective banks. We suggest you contact your bank’s customer care to know the time taken by their internal process.</p>


                <h3 class="program_heading2">Is my Wallet Secure?</h3>
                <p>HP Pay Wallet comes with the complete set of in-app security features such as app lock, MPIN, two factor authentication and passcode amongst others.</p>

                <h3 class="program_heading2">What are the charges for loading my wallet ?</h3>
                <p>Currently, the applicable Charges for loading your wallet are being waived off by HPCL.</p>

                <h3 class="program_heading2">Is there any limit on the amount that I can add to my Wallets ?</h3>
                <p>Yes, You can recharge your wallet with a maximum amount of Rs 5000 per instance.</p>

                <h3 class="program_heading2">Can I pay for fuel without loading my HP Pay Wallet ?</h3>
                <p>Yes, you can also make payment directly at the time of fuelling instead of loading the wallet in advance. You can SCAN the QR code and make payment by using Payment Gateway (Credit/Debit card & Net banking) OR by using Direct payment mode (UPI/Google Pay) However, the payment process is dependent on connectivity provided by your Telecom service provider at that location, hence we advise you to load wallet in advance so as to avoid any delay in transaction at the time of fuelling.</p>

                <h3 class="program_heading2">Where Can I use my money loaded in HP Pay Wallet ?</h3>
                <p>You can use money available in your wallet for purchase of Petrol/Diesel in all our Retail outlets (Petrol Bunks) spread across the country. You can also use for making payment for your HP Gas cylinder and purchase of Lubricants.</p>

                <h3 class="program_heading2">What are the various methods for making payment ?</h3>
                <p>You can make payment by using either Paycode or QR code which are illustrated hereunder : Payment using Paycode: By selecting the ‘Pay by Paycode’ icon on your home screen, You can generate a 8 digit Paycode which has validity of 30 minutes. Once you visit the outlet, You can complete your fuelling and give the Paycode to pump attendant. Confirmation message will get displayed on the App page after the payment is successful. Payment using QR Code: By selecting the ‘Pay by QR Code ’ icon on your home screen, You can SCAN the QR code available with the Pump attendant and make payment by using Payment Gateway (Credit/Debit card & Net banking) OR by using Direct payment mode (UPI/Google Pay). Confirmation message will get displayed on the App page after the payment is successful.</p>

                <h3 class="program_heading2">Can I book or pay for my LPG cylinder with HP Pay?</h3>
                <p>Yes, You can not only Book for LPG cylinder but also make payment for the refill using HP Pay.</p>

                <h3 class="program_heading2">How do I make payment for LPG cylinder :</h3>
                <p>Once you select ‘HP gas’ icon on your home screen, you will be taken to “HP Gas” page. You have following three options:</p>
                <div class="ml-4">
                    <ul class="pl-3">
                        <li>HP Gas booking</li>
                        <li>HP Gas payment</li>
                        <li>Appu (5 Kg Cylinder)</li>
                    </ul>
                </div>
                <p><strong> Booking HP Gas cylinder with HP Pay:</strong> By selecting “HP Gas Booking” icon present on screen, your registered mobile number will be auto-populated in “Linked Mobile No. field”. On clicking Submit button, Your consumer details like Full name, consumer Number, Agency name and address and the amount (cost of refill) will be displayed. By clicking on “Proceed to book cylinder” button, you will have options for making payment using any of the five payment methods Viz. HP Pay Wallet, Credit/Debit card, Net Banking and UPI. can make payment by using wallet or by using Payment Gateway (Credit/Debit card & Net banking) OR by using Direct payment mode (UPI/Google Pay). Confirmation message will get displayed on the App page after the payment is successful.</p>

                <p> <strong> Payment for HP Gas refill at the time of delivery :</strong> There are two options for making payment at the time of delivery :</p>
                <div class="ml-3">
                    <ul class="pl-4">
                        <li class="mb-2"><strong> QR Code :</strong> Please select “HP Gas payment” icon, you can SCAN the QR code available with the delivery boy and make payment thru Wallet or by using Payment Gateway (Credit/Debit card & Net banking) OR by using Direct payment mode (UPI/Google Pay). Confirmation message will get displayed on the App page after the payment is successful.</li>
                        <li><strong>EzyGas:</strong> LPG Delivery Boy generally carries Ezygas app wherein HP Pay as a payment option will be available. Customer has to mention the mobile number which will be entered by Delivery boy in the Ezygas application, upon which a OTP will get generated. This OTP will be entered in the Ezygas app for getting the payment processed. Please ensure sufficient money is loaded in the wallet.</li>
                    </ul>
                </div>
                <p>Payment for Appu Gas cylinder: In order to make the payment for Appu gas you need to complete your KYC first. By selecting the ‘HP Gas’ icon on your home screen, you will be redirected to next screen with ‘5 Kg LPG’ icon present on screen, You can SCAN the QR code available with the delivery boy and details like Distributor name and amount to be paid will be displayed. You can complete payment by using wallet OR by using Direct payment mode (UPI/Google Pay). Confirmation message will get displayed on the App page after the payment is successful.</p>

                <h3 class="program_heading2">How do I buy HP Lubricants ?</h3>
                <p>Customer can select the Lube grade he wish to purchase from Retail Outlet (Petrol bunk) and select the QR code for making the payment.</p>


                <h3 class="program_heading2">Do I need to Submit my KYC during enrolment of HP Pay?</h3>
                <p>KYC is not required during enrolment of HP Pay initially. However, you need to complete KYC within one month of enrolment. You will get reminder SMS before one week to submit documents for partial KYC</p>

                
                <h3 class="program_heading2">What are the types of KYCs process are available</h3>
                <p>There three types of KYC</p>

                <div class="ml-4">
                    <ul class="pl-3">
                        <li>Minimum KYC</li>
                        <li>Partial KYC</li>
                        <li>Full KYC</li>
                    </ul>
                </div>
                <p> <strong> Minimum KYC :</strong> You complete the minimum KYC during the registration process by validation your mobile number at the time enrolment by providing OTP.</p>

                <p><strong>Partial KYC:</strong>You can complete the partial KYC by uploading atleast one document towards the identity proof. You can select the preferred document from the list of documents available and enter the document ID which is present on the uploaded document proof. You can enjoy daily limit of Rs. 6000 and monthly limit of Rs. 10000 after your partial KYC is approved.</p>
                <p><strong> Full KYC:</strong> In case you need higher limits, you are required to complete KYC. You need to provide address proof to complete the KYC by uploading the document. You can select the preferred document from the list of documents available and enter the document ID which is present on the uploaded document proof. You enjoy daily limit of Rs. 6000 and monthly limit of Rs. 20000 after your Full KYC is approved.
                <br>
                    The document verification process takes about one month, hence customer is required to upload the documents well in advance.</p>
               <h3 class="program_heading2">What are documents required for KYC and what are the benefits of completing KYC?</h3>     
               <p>You need to upload your Identity and address proof so that you can access full benefits of HP Pay wallets. The list of documents for Identity and address proof are Proof of Identity:</p>  
               <div class="ml-4">
                    <ul class="pl-3">
                        <li>Driving License</li>
                        <li>PAN Card</li>
                        <li>Voter Identity Card</li>
                        <li>Passport</li>
                    </ul>
                </div>
                <p>Address Proof:</p>
                    
                <div class="ml-4">
                    <ul class="pl-3">
                        <li>Water bill</li>
                        <li>Passport</li>
                        <li>Electricity bill</li>
                        <li>Ration card</li>
                        <li>Voter ID Card</li>
                        <li>Land-line phone bill</li>
                        <li>LIC insurance copy</li>
                        <li>Property agreement copy</li>
                        <li>Regd. property agreement</li>
                        <li>Cooking gas connection receipt</li>
                        <li>Bank account statement received by mail</li>
                        <li>Bank Pass Book with transactions not earlier than 2 months
                            Letter from employer</li>
                        <li>RC Copy of any vehicle under the ownership of Driver Customer</li>
                    </ul>
                </div>

                <h3 class="program_heading2">The benefits of completing KYC are</h3> 
                <p>Monthly spends limit will be increased to Rs. 20 Thousand from 10 Thousand</p>
                    
                <div class="ml-4">
                    <ul class="pl-3">
                        <li>Use Facilities like ‘PAY your friend’</li>
                        <li>Payment for APPU 5 Kg cylinder</li>                        
                    </ul>
                </div>

                <h3 class="program_heading2">What happens if I don’t complete my partial KYC after one month?</h3> 
                <p>You will be allowed to login and but you will not be able to transact with HP Pay.</p>


                <h3 class="program_heading2">Whom Should I Contact for any resolution of queries?</h3> 
                <p>Please contact HP Pay Call centre on Toll Free Number 1800-1039-811 (24 X 7) or through website www.hppay.in or You can also write to us on care@hppay.in</p>

                <h3 class="program_heading2">What is a BHIM UPI?</h3> 
                <p>BHIM UPI (Unified Payment Interface) is a mobile payment mode that enables you to create a UPI ID linked to a bank account and then send or receive money using it. Additionally, you can also make payments to online merchants and outlets who accept BHIM UPI as a payment mode for transactions.</p>

                <h3 class="program_heading2">What is UPI ID or VPA?</h3> 
                <p>UPI ID (also called Virtual Payment Address or VPA) is a unique identifier you can create in order to send and accept money via UPI. Once a UPI ID is created and mapped against your bank account, you can simply share your UPI ID (eg. abc@oksbi) with the payer. Once the payer enters your UPI ID and sends the money via UPI, it will be added to your account without having to enter any of your other bank details.</p>

                <h3 class="program_heading2">What is a UPI PIN?</h3> 
                <p>UPI PIN is a 4 or 6 digit PIN that can be used for authenticating your UPI transactions. Your UPI PIN will be validated by the bank whose account you are using to pay with. The UPI PIN is different for different bank accounts.</p>

                <h3 class="program_heading2">My UPI transaction failed but amount was deducted from my bank account.</h3> 
                <p>Please check your bank account statement to see whether the amount was added back. In case the amount has not been added, we recommend to wait for 2 working days, within which the bank should add the money back to your account. In case money has not been added within 2 working days, please reach out to <a href="https://www.bhimupi.org.in/get-touch">www.bhimupi.org.in/get-touch</a> </p>


                <h3 class="program_heading2">My UPI transaction is successful but amount was not received by Petrol Bunk attendant or LPG delivery boy .</h3> 
                <p>We recommend you to wait for 2 working days, within which the bank should add the money to the beneficiary account or reverse the same to the sender’s account. In case money has not been added within 2 working days, please reach out to <a href="https://www.bhimupi.org.in/get-touch">www.bhimupi.org.in/get-touch</a> </p>

                
                <h3 class="program_heading2">How many Payback Points are offered by HPCL on purchase of Fuel?</h3> 
                <p>HPCL offers 4 Payback Points as Rewards for every Rs 100/- on purchase of fuels using HP Pay as Method of Payment. How much is 1 Payback Point? 1 Payback Point = 25 Paisa across Payback Partners / Brands. Top Brands who offers Payback Points as Reward Points and Redeem?</p>

                <div class="ml-4">
                    <ul class="pl-3">
                        <li>Top brands who offers Payback Points are HPCL, ICICI Bank, Bookmyshow, Mobikwik, Amazon, Flipkart, etc. on purchase of their products.</li>
                        <li>Customers can Redeem their accumulated points of all brands at any of the Payback brands. To view the complete list of partners, please log on to <a href="https://www.payback.in/"> www.payback.in</a>.</li>                        
                    </ul>
                </div>

                <h3 class="program_heading2">Whom Should I Contact for any resolution of Payback points issue ?</h3> 
                <p>Please contact Payback Call Center 1860-258-5000 between 10 AM to 9PM</p>
                
            </article>

        </section>
    </div>
</div>